.card.bg-body-tertiary.border-0.mb-3
  .card-body.p-2
    = simple_form_for :null, url: manage_problem_hint_index_path(@problem), data: { turbo: 'true', 'children-select-target': 'selectForm'}, wrapper: :inline_form do |f|
      .row.row-cols-lg-auto.g-2.align-items-center
        .col-auto
          %span.fw-bold.small Hint:
        .col-auto
          = f.input :hint_id, collection: @problem.hints, selected: @hint&.id, wrapper: :inline_form, 
            input_html: {class: 'form-select-sm form-select', style: 'min-width: 200px;', data: {action: 'change->children-select#childSelect', 'children-select-target': 'selectInput'}}
        .col-auto.ms-auto
          .d-flex.gap-1
            %button.btn.btn-success.btn-sm{type: :submit, name: :button, value: :add} 
              %span.mi.md-18 add
              Add
            %button.btn.btn-outline-danger.btn-sm{type: :submit, name: :button, value: :delete, data: { turbo_confirm: "Really delete this hint?" } } 
              %span.mi.md-18 delete
              Delete
